/* You can add global styles to this file, and also import other style files */
.search-box {
  width: 100%;
  height: 46px;
  display: flex;
  position: fixed;
  bottom: 50%;
  flex-wrap: wrap;
  left: 0;
  flex-basis: 612px;

  justify-content: center;
  align-items: center;
}

.search-box>input {
  width: 500px;
  height: 42px;
  background: none;
  border-radius: 7px;
  border: solid 1px #000;
  outline: rgb(255, 99, 71);
}

.search-box>div {
  overflow: hidden;
  width: 100px;
  border-radius: 7px;
  border: solid 1px #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
  height: 42px;
}

.switch-button {
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  background-color: #000;
}

.tips {
  position: fixed;
  bottom: 50%;
  margin-bottom: 86px;
  left: 50%;
  margin-left: -20%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: -200px;
  flex-wrap: wrap;
  height: 150px;
}

.tips>span {
  display: inline-block;
  width: auto;
  background-color: #fff;
  color: #666;
  border-radius: 0.3em;
  cursor: pointer;
  margin: 10px;
}

.tips>span:nth-child(2n) {
  margin: 0px;
}

.box-tab {
  position: fixed;
  bottom: 50%;
  margin-bottom: 86px;
  left: 50%;
  margin-left: -20%;
  width: 40%;
  display: flex;
  justify-content: center;
  margin-bottom: -200px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
}

.box-tab>span:nth-child(1) {
  color: #444;
}

.box-tab>span:hover {
  text-decoration: underline;
}

.box-tab>div {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.box-tab>div>div {
  margin: 5px;
  width: 32px;
  height: 32px;
}

.box-tab>div>div>img {
  box-shadow: 0px 0px 1px 1px #999;
  border-radius: 32px;
  width: 100%;
  height: 100%;
}
