<div class="marsk0">
<form action="http://chatjs.top/blog/link/signup.php">        
    <div class="contaniner0">
        <br>
        <br>
        <h1>注册willom</h1>
        <br>
        <br>
        <br>
        <label for="in1">用户名</label>
        <input  type="text"  placeholder="xxx" [(ngModel)]="name">
        <br>
        <br>
        <br>
        <label for="in1">密&nbsp;码</label>
        <input type="password" [(ngModel)]="passwd">
        <br>
        <br>
        <br>
        <label for="in3">确认密码</label>
        <input type="password" [(ngModel)]="passwdagain">
        <br>
        <br>
        <br>
        <label for="in1">邮箱</label>
        <input type="text" placeholder="xx@xx.com" [(ngModel)]="emaile">
        <br>
        <br>
        <br>
        <input type="submit"value="Singup" (click)='sign()'><a href="../" class="back" >返回</a>
    </div>
</form>    
</div>    



