<div class="background" #backGround>
</div>
<div class="container" (mouseover)="hoverContainer()" (mouseout)="outContainer()">
    <span (mouseover)="switchView(1)">
        <img [src]="imgSrc1">
        <span>设置</span>
    </span>
    <span (mouseover)="switchView(2)">
        <img [src]="imgSrc2">
        <span>主题</span>
    </span>
    <br>
    <app-setting *ngIf="flag ===1"></app-setting>
    <app-theme *ngIf="flag === 2"></app-theme>
</div>
<app-search-box></app-search-box>
<app-login [show]="showLogin" (outer)="offLogin($event)"></app-login>
<app-foot></app-foot>
